<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo_data.mapper.UserMapper">
    <resultMap id="UserMapper" type = "com.example.demo_data.entity.User">
        <id property="id" column="id"></id>
        <result property = "username" column = "username"></result>
        <result property = "password" column = "password"></result>
        <result property = "email" column = "email"></result>
        <result property = "role" column = "role"></result>
    </resultMap>
    <select id="findAll" resultMap="UserMapper">
        select * from user
    </select>
    <select id="findIdByUsername" resultType="integer">
        select id from data_web.user where username = #{username}
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into user(username, email, password,role) values(#{username},#{email},#{password},#{role})
    </insert>
    <select id="findByUsername" resultMap="UserMapper">
        select  * from user where username = #{username}
    </select>
    <update id="update" parameterType="com.example.demo_data.entity.User">
        update user set password=#{newpassword} where username =#{name}
    </update>
</mapper>